#
{
   margin:0px;
   padding: 0px; 
   box-sizing:border-box;
}
.container
{
   
    width:100%;
}
.wrapper
{
 
    width:900px;
    margin:auto;
}
.dark
{
    color:white;
background-color:green;
}
.light
{
background-color:whitesmoke
color:black;
}
#top_left
{
display:inline-block;

}
#top_right
{
float:right;
}
#top_div
{
    height:40px;
    line-height:40px;

}
#logo_left
{

display:inline-block;
}
#logo_right
{
float:right;

margin-top:70px;
}
#textstyle
{
    height:30px;
    border-radius:8px;
}
#button
{
    background-color: green;
    color:white;
    padding:7px;
    border-radius:8px;
    width:70px;
    border:1px solid green;
}
#clear
{
    clear:both;
}
ul
{
    
}
ul li
{  
    width:170px;
    display:inline-block;
    height:35px;
    line-height: 35px;
    text-align: center;
}
ul li a
{
    color:white;
    text-decoration: none;
 display:block;
}

ul li a: hover
{
background-color:orange;
display:
}
footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background: black;
    height:auto;
    width:100vw;
    font-family:"Open Sans";
    padding-top:10px;
    color:whitesmoke;
}

.footer-bottom
{
    background: black;
    width:900px;
    padding:10px;
    text-align:center;

}
.social-links
{
    display:inline-block;
    height:40px;
    width:900px;
    text-align:center;


}